.underline{
    text-decoration: underline;
    cursor: pointer;
}

.itemSize{
  width: 2em;
  height: 2em;
}

.buttonSpaceCenter{
  display: flex;
  justify-content: center;
  top: auto;
}

.buttonSpaceRight{
  display: flex;
  justify-content: right;
  top: auto;
}
