.underline{
    text-decoration: underline;
    cursor: pointer;
}

.itemSize{
  width: 2em;
  height: 2em;
}

/* .buttonSpaceEvenly{
  display: flex;
  justify-content: space-between;
  top: auto;
} */
